<form class="form-horizontal" id="signup-form" action="/signup" method="post">
  <fieldset>
  <legend>Sign Up</legend>

    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Username</label><br>
      <div class="col-md-5">
        <input type="text" class="form-control" id="inputUsername" placeholder="username" name="new_user[username]">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label><br>
      <div class="col-md-5">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="new_user[password]">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password Confirmation</label><br>
      <div class="col-md-5">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="new_user[password_confirmation]">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default cancel-btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
      </div>
    </div>
  </fieldset>
</form>