<form class="form-horizontal" action="/comment/<%= comment.id %>" method='post'>
  <fieldset>
    <legend>Edit Comment</legend>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Comment</label>
      <div class="col-lg-10">
        <textarea type="text" name="comment[content]" placeholder="<%= comment.content %>"></textarea>
      </div>
    </div>

    <input type="hidden" name='_method' value='put'>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default cancel-form-btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>