<form class="form-horizontal" id="new-comment" action="/review/<%= review.id %>/comment" method='post'>
  <fieldset>
    <legend>Comment</legend>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Content</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name="comment[content]" placeholder="Write Your Comment Here!"></textarea>
      </div>
    </div>
    <input type="hidden" name="comment[review_id]" value="<%= review.id %>">
    <input type="hidden" name="comment[commenter_id]" value="<%= current_user.id %>">
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>