/*.jumbotron{
  padding: 3em;
}*/

.movie{
  border-bottom: dotted thin white;
  padding-top: 1em;
  padding-bottom: 1em;
}

#login-form, #signup-form{
  display: none;
}

.comments{
  display: none;
}