<div class="movies">
  <% movies.each do |movie| %>
    <%= erb :"movies/_single", locals:{movie: movie} %>
  <% end %>
  <br>
  <% if current_user %>
    <a href="/review/new" class="btn btn-primary btn-lg" id="new-review-select">Write a new review! Why not!</a>
  <% end %>
</div>