<div class="rate">
  <form class="form-horizontal rate-form" action='/rating' method='post'>
    <fieldset>
      <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Ratings</label>
        <div class="col-lg-10">
          <select class="form-control" id="select" name="score">
            <% [*1..10].each do |score| %>
            <option value="<%= score %>"><%= score %></option>
            <% end %>
          </select>
        </div>
      </div>
      <input type="hidden" name="voter_id" value="<%= voter.id %>">
      <input type="hidden" name="rateable_id" value="<%= rateable.id %>">
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary rate-btn">Rate!</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>