<div class="reviews">
  <% reviews.each do |review| %>
    <%= erb :"reviews/_single", locals:{review: review} %>
  <% end %>
  <br>
  <% if current_user %>
    <a href="/review/new" class="btn btn-primary btn-lg" id="new-review-select">Write a new review! Why not!</a>
  <% end %>
</div>