<form action="/review/<%= review.id %>" method='post' class="delete-form">
  <input type="hidden" name='_method' value='delete'>
  <h5>Are you sure?</h5>
  <button class="btn btn-default cancel-delete">Cancel</button>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>