<div class="well">
  <%= erb :_top_nav %>
  <div class="welcome">
    <% if session[:error] %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Oh snap!</strong><%= display_error %>
    </div>
    <% end %>

    <% if current_user %>
      <p>Hello! <%= current_user.username %></p>
    <% else %>
      <p>Welcome</p>
    <% end %>
  </div>
</div>

